@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Cinzel:wght@400;700&family=Lora:wght@400;700&family=DM+Serif+Display&family=Merriweather:wght@400;700&display=swap');

.font-poppins { font-family: 'Poppins', sans-serif; }
.font-lora { font-family: 'Lora', serif; }
.font-dmserif { font-family: 'DM Serif Display', serif; }
.font-merriweather { font-family: 'Merriweather', serif; }
